<% function generatePaginator(current, pageCount) {
    var numbers = [];
    var displayLength = 5;
    var lower = 0,
        upper = 0;
    var i;
    if (current < 1) {
        current = 1;
    } else if (current > pageCount) {
        current = pageCount;
    }
    if (current > 1) {
        numbers.push('<a class="prev" href="/post/page/' + (current - 1) +'">&#8592;</a>');
    }
    if (current > displayLength / 2) {
        if (current < upper - displayLength / 2) {
            lower = current - displayLength / 2;
            upper = current + displayLength / 2;
        } else {
            lower = Math.max(pageCount - displayLength, 1);
            upper = pageCount;
        }
    } else {
        lower = 1;
        upper = Math.min(pageCount, displayLength);
    }
    for (i = lower; i <= upper; i++) {
        numbers.push('<a class="page-number" href="/post/page/' + i + '">' + i + "</a>");
    }
    if (current < pageCount - 1) {
        numbers.push('<a class="prev" href="/post/page/' + (current + 1) +'">&#8594;</a>');
    }
    return numbers;
} %>

<ul id="posts">
  <% if (result.posts !== null) result.posts.forEach(function(post, i){ %>
    <% var time = new Date(post.time); %>
    <li class="post">
        <div class="post-head">
            <div class="post-title"><a href="/post/<%= post._id %>"><%= post.title %></a></div>
            <div class="post-time"><%= time.getUTCFullYear() + '-' + time.getUTCMonth() + '-' + time.getDate() %></div>
        </div>
        <div class="post-tail">#<%= i %></div>
    </li>
      <% }); %>
</ul>
<div id="paginator">
    <% if (result.posts !== null) {
       var count = Math.ceil(result.count / postsPerPage);
    %>
    <%- generatePaginator(currentPage, count).join('') %>
   <% }%></div>